body {
  font-family: "Courier New", Courier, monospace;
  background-color: #eff0f8;
}

table {
  margin: auto;
  user-select: none;
  border: 2px solid black;
  border-collapse: collapse;
  background: linear-gradient(
    to bottom left,
    #c19a6c,
    #d89d84,
    #e7b88d,
    #e6a98b,
    #d0a373
  );
}

td {
  width: 40px;
  height: 40px;
  min-width: 40px;
  text-align: center;
  font-size: 30px;
  background: linear-gradient(
      rgba(0, 0, 0, 0) 47%,
      black 47%,
      black 53%,
      rgba(0, 0, 0, 0) 0%
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 47%,
      black 47%,
      black 53%,
      rgba(0, 0, 0, 0) 47%
    ),
    radial-gradient(black 10%, rgba(0, 0, 0, 0) 0%);
}

.lastMove {
  box-shadow: 0px 0px 10px #3844e5;
  border-radius: 50%;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.stone {
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.black {
  background: #31373d;
}

.white {
  background: #e6e7e8;
}

.multicolor {
  background: linear-gradient(to right, #31373d 50%, #e6e7e8 0%);
}

#setupBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: inline-block;
  background-color: #eff0f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.setupInput {
  outline: none;
  border: 2px dotted #3844e5;
  transition: 0.2s;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  width: 300px;
  font-size: 30px;
  background-color: rgb(246, 248, 255);
}

.setupInput:focus {
  border: 2px solid #3844e5;
  background-color: #cecaf4;
}

.setupButton {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #ff9100;
  /* opacity: 0.6; */
  transition: 0.2s;
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  font-size: large;
  color: white;
}

.setupButton:hover {
  /* background-color: #ce3227; */
  background-color: #ff6600;
}

.setupButton:active {
  transition: 0s;
  background-color: #ff9a57;
}

.setupSwitch {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 32%;
  background-color: #ff9100;
}

.selected {
  background-color: #ff6600;
}

.playerPanel {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(246, 248, 255);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  width: 600px;
}

.playerPanel .stone {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 25px;
  height: 25px;
  transform: translate(0, 5px);
  display: inline-block;
}

.playerPanel p {
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

.roomName {
  margin: auto;
  width: 600px;
  font-size: 2.5em;
}

.inWinLine {
  box-shadow: 0px 0px 10px #ff6600;
  border-radius: 50%;
}
